@font-face {
    font-family: HelveticaNeue-Regular;
    src: url(assets/font/Helvetica%20Neue%20Regular.ttf);
}
@font-face {
    font-family: HelveticaNeue-Light;
    src: url(assets/font/HelveticaNeueLight.ttf);
}
@font-face {
    font-family: HelveticaNeue-Medium;
    src: url(assets/font/HelveticaNeueMedium.ttf);
}


.selection-btn{
    padding: 4px;
    text-align: center;
    color:#000000;
    font-size: 12px;
    font-family: HelveticaNeue-Light;
    background-color: #f5f5f5;
    border: 1px #bebebe solid;
    height: 30px;
    width: 200px;
}
.selection-btn:hover{
    outline:none !important;
    background-color: #dce9ff;
    border: 1px #a8c7ff solid;
}
.selection-btn-active{
    outline:none !important;
    font-family: HelveticaNeue-Medium;
    background-color: #dce9ff;
    border: 1px #5191ff solid;
}

.action-btn{
    padding: 4px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    font-family:HelveticaNeue-Regular ;
    background-color: #5191ff;
    border:1px #4650dc solid;
    height: 30px;
    width: 200px;
}
.action-btn:hover{
    outline:none !important;
    background-color: #73a7ff;
    border: 1px #5191ff solid;
}
.action-btn-active{
    outline:none !important;
    font-family: HelveticaNeue-Medium;
    border:1px #2d3092 solid;
}