.main{
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.navbar-top{
    background-color: #ffffff;
    margin-bottom:0px!important;
    border-bottom:2px solid #999999 ;
}
.navbar-top-ul{
    width: 100%;
}
.navbar-top-ul > li{
    height: 65px;
    width: 10%;
    border-right:2px solid #999999 ;
    text-align: center;
}
/*.nav>li>a:focus, .nav>li>a:hover*/
.navbar-top-ul>li>a:focus{
    background-color: #ffffff !important;

}
.navbar-top-ul>li>a:hover{
    background-color: #ffffff !important;

}
.navbar-top-ul>li>a{
    background-color: #ffffff !important;
}


.navbar-top-img-extreme{
    border-right:0px !important;
}
.navbar-top-ul > li > a{
    color:#4d4d4d;
    padding: 10% !important;
    cursor: pointer;
}
.navbar-top-img{
    width: 5% !important;
}
.navbar-landing{
    background-image:  url("assets/images/landing.png");
    width: 80% !important;
    height: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 5% 20% 20% 10%;
}
.navbar-shortcut{
    background-image:  url("assets/images/shortcut.png");
}
.navbar-store {
    background-image:  url("assets/images/store.png");
}
.navbar-user{
    background-image: url("assets/images/user.png");
}
.navbar-shortcut,.navbar-store,.navbar-user {
    width: 60% !important;
    height: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 10% 20% 20% 20%;
}
.left-menu{
    overflow: hidden;
    /*height: 635px;*/
    height: 40%;
    width: calc(10% + 2px);;
    display: inline-block;
    position: relative;
    float: left;
    border-right: 2px solid #999999;
    border-bottom:  2px solid #999999;
}
.navbar-left{
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    float: none !important;
}
.navbar-left li{
    /*height: 65px;*/
    height: 10%;
    border-top: 2px solid #999999;
    text-align: center;
    padding: 3%;
}
.navbar-left>li>a:focus{
    background-color: #ffffff !important;
    border: none !important;
}
.navbar-left>li>a:hover{
    background-color: #ffffff !important;
    border: none !important;
}
/*.navbar-left>li+li {*/
    /*margin-top: 0px !important;*/
/*}*/
.navbar-big{
    background-image: url("assets/images/big.png");
}
.navbar-small{
    background-image: url("assets/images/small.png");
}
.navbar-stretch{
    background-image:url("assets/images/stretch.png");
}
.navbar-big,.navbar-small,.navbar-stretch,.navbar-hand,.navbar-i{
    width: 100% !important;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0px!important;
    /*margin: 10% 20% 20% 20%;*/
}
.navbar-left-strip{
    /*height: 430px !important;*/
    height: 70% !important;
}
.navbar-left-extreme{
    border-top:0px!important; ;
}
.right-menu{
    overflow: hidden;
    /*height: 765px;*/
    height: 50%;
    width: calc(10% + 4px);
    display: inline-block;
    position: relative;
    float: right;
    border-left: 2px solid  #999999;
    border-bottom: 2px solid  #999999;
}
.navbar-right{
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    float: none !important;
}
.navbar-right li{
    height: 8%;
    border-top: 2px solid #999999;
    text-align: center;
    padding: 3%;
}
.navbar-right>li>a:focus{
    background-color: #ffffff !important;
    border: none !important;

}
.navbar-right>li>a:hover{
    background-color: #ffffff !important;
    border: none !important;

}
.navbar-right-strip{
    height: 60%!important;
}
.navbar-hand{
    background-image:url("assets/images/hand.png");
}
.navbar-i{
    background-image: url("assets/images/i.png");
}
.content-left{
    width: 50%;
    height: calc(100vh - 65px);
    float: left;
    border-right: 8px solid #999999;
}
.content-main{
    padding: 0px !important;
}
.content-right{
    width: 50%;
    height: calc(100vh - 65px);
    float: right;
    border-left: 8px solid #999999;
}


/*.navbar-top-img a:active{*/
    /*background-image: url("assets/images/shortcutActive.png");*/
/*}*/

.menu-shortcut-conteiner{
    /*height: 635px;*/
    /*border-top: 1px solid #4d4d4d;*/
    /*border-left: 1px solid #4d4d4d;*/
    border-radius: 0px;
    background-color:#f0f0f0;
    height: calc( (100vh - 65px) * 40 / 100 );
    width:calc( (100vw - 65px) * 20 / 100 );
    padding: 10px;
}
.menu-shortcut-col{
    width: 100%;
    height: 32%;
}
.menu-shortcut{
    float: left;
    width: 30%;
    height: 100%;
}

.menu-shortcut a {
    width: 100%;
    height: 32%;
    text-align: center;
    background-color: #f0f0f0;
    border: 0px !important;
    text-decoration: none;
    color:#4d4d4d;

}
.menu-store{
    margin-top: 40px !important;
    margin-left: -20px;
    /*position: relative;*/
    /*width: 28%;*/
    /*height: 50%;*/
    height: calc( (100vh - 65px) * 50 / 100 );
    width:calc( (100vw - 65px) * 28 / 100 );
    text-align: center;
    /*line-height: 100px;*/
    background-color: #fff;
    border: 3px solid #4d4d4d;
    /*-webkit-border-radius: 30px;*/
    /*-moz-border-radius: 30px;*/
    /*border-radius: 30px;*/
    /*-webkit-box-shadow: 2px 2px 4px #4d4d4d;*/
    /*-moz-box-shadow: 2px 2px 4px #4d4d4d;*/
    /*box-shadow: 2px 2px 4px #4d4d4d;*/
    display: none;
}

.menu-store:before {
    /*content: ' ';*/
    /*position: absolute;*/
    /*width: 0;*/
    /*height: 0;*/
    left: 20px;
    top: 60px !important;
    /*border: 15px solid;*/
    /*border-color:transparent transparent #4d4d4d;*/
}

.menu-common {
    margin-top: 25px !important;
    background-color: #fff;
    border: 3px solid #4d4d4d;

}

.menu-common:before,.menu-store:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    /*left: 20px;*/
    top: -30px;
    border: 15px solid;
    border-color:transparent transparent #4d4d4d;
}

.menu-user{
    width: 300%;
    right: 0;
    left: auto;
    font-size: 10px;
    color: #666666;
    padding: 0;
}

.menu-user > .thumbnail {
    border: none;
}

.user-avatar {
    width: 31.914893617%;
    margin: 1.7em 0;
}

.menu-user:before {
    right: 5%;
}
.table-store{
    height: 100%;
    width: 100%;
}
.table-store>caption{
    border-bottom: 3px solid #4d4d4d;
    text-align: center;
    background-color: #e1e1e1;
    color: #4d4d4d;
}
.table-store>thead>tr>th>a{
    border: none !important;
    text-align: left;
}
.table-store>thead>tr>th>input{
    border: none!important;
}

.menu-user .block-with-bnt > a {
    border-top: none;
}

.menu-user .block-with-bnt > a:hover {
    color: red;
    background-color: #ffffff;
    text-decoration: none;
}

.menu-item-active {
    color: #ffffff !important;
    background-color: red !important;
    text-decoration: none !important;
}

.menu-user .block-with-bnt > a:active {
    color: #ffffff;
    background-color: red;
    text-decoration: none;
}

.padding-bottom-min{
    padding-bottom: 0.8em;
}

.in-it-span-block > span{
    display: block;
}

.big-text {
    font-size: 2em;
    font-weight: bold;
}

.medium-text{
    font-size: 1.6em;
}

.gray-block {
    background-color: #f0f0f0;
    border: 2px #999999 solid;
}

.block-with-bnt > a {
    font-size: 1.6em;
    display: block;
    padding: 0.4em;
    color: #666666;
    cursor: pointer;
}

.gray-border {
    border: 2px #999999 solid;
}

.menu-sales{
    width: 187%;
    right: 0;
    left: auto;
    padding: 0;
}

.menu-sales:before{
    right: 20%
}

.table-block {
    display: table;
    width: 100%;
}
.table-block > .table-row:last-child > .table-cell{
    border-bottom: none;
}
.table-row{
    display: table-row;

}

.table-row >.table-cell:first-child{
    border-right: 2px #999999 solid;
    background-color: #f0f0f0;
    text-align: right;
}

.table-cell {
    display: table-cell;
    width: 50%;
    padding: 0.5em 1.2em;
    font-size: 1em;
    border-bottom: 2px #999999 solid;
}

.black-small-div{
    background-color: #4d4d4d;
    height: 3px;
    width: 100%;
}

.red-text{
    color: #fa4d4d;
}

.light-gray-block {
    background-color: #f0f0f0;
}

.menu-guide{
    width: 187%;
    right: 29%;
    left: auto;
    padding: 0;
    position: relative;
    display: none;
    background-color: #4d4d4d;
}

.menu-guide:before{
    right: 50%;
}

.title-block {
    padding: 0.5em 13%;
    text-align: left;
    margin-bottom: 3px;
}

.guide-tab{
    width: 32%;
    height: 38px;
}

.guide-tabs {
    border-bottom: none;
}

.guide-tabs > .guide-tab > a{
    border: none;
    background: none;
    padding: 0.5em;
    color: #4d4d4d;
}

.guide-tabs > .guide-tab > a:hover{
    border: none;
    background: none;
    border-color: #999999;
    padding: 0.5em;
    color: #4d4d4d;
    text-decoration: none;
}

.guide-tab {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 2px;
}

.guide-tab:first-child{
    margin-left: 0.5%;
}

.guide-tabs > .guide-tab-active {
    margin: 0;
    height: 42px;
    width: 34%;
    border-bottom: none;
}