.menu-common {
  border: 1px solid #bebebe;
  box-shadow: 0 5px 20px 1px #bebebe;
  background-color: #ffffff;
  padding: 9px;
}


.menu-event .nav>li:not(.active)>span, .in-active {
  background-color: #f5f5f5;
  color: #000000;
  border: 1px solid #bebebe;
  padding: 10px;
}


.active {
  background-color: #ffffff;
  padding: 13px 10px 10px;
}


.light-blue {
  background-color: #dce9ff;
}

.light-blue:hover {
  border: 1px solid #a8c7ff;
}

.light-blue.active {
  border: 1px solid #5191ff;
}

.menu-event {
  width: 360px;
  height: 200px;
  display: block;
}

.menu-event .nav {
  border-bottom: none;
}

.menu-event .nav>li {
  width: 170px;
  height: 40px;
  background-color: #ffffff;
  color: #5191ff;
}

.menu-event .nav>li.active {
  border-left: 1px solid #5191ff;
  border-top: 1px solid #5191ff;
  border-right: 1px solid #5191ff;
}

.menu-event .nav>li.active > span {
  color: #5191ff;
}

.menu-event .nav>li:not(.active) {
  border-bottom: 1px solid #5191ff;
}

.menu-event .nav>li:not(.active):first-child>span{
  margin: 0 2px 2px 0;
}

.menu-event .nav>li:not(.active):last-child>span{
  margin: 0 0 2px 2px;
}

.menu-event .nav>li:not(.active)>span {
  width: 168px;
  height: 37px;
  display: block;
}

.main-first-column{
  display: inline-block;
  float: left;
  width: 50%;
  position: relative;
  padding-right: 5px;
}

.main-first-column + .main-first-column {
  padding-right: 0;
}

.menu-still-string{
    background-color: #f5f5f5;
    width: 200px;
    height: 25px;
    margin-bottom: 5px;
}
.line  {
    border-top: 1px dashed  #d9dbdc;
    width: 200px;
    height: 18px;
    margin-top: 3px;
}

.menu-still{
    height: 485px;
    width: 220px;
    background-color: #ffffff;
    border: 1px #e5e6e7 solid;
    padding: 8px 8px 0px 8px;

}

.tab-pane.active {
  border-left: 1px solid #5191ff;
  border-bottom: 1px solid #5191ff;
  border-right: 1px solid #5191ff;
}

.menu-event .my-row{
  width: 100%;
  margin-bottom: 5px;
}

.menu-event .info-block>div {
  height: 30px;
  line-height: 30px;
}

.menu-event .my-row>span{
  display: inline-block;
  float: left;
  line-height: 29px;
  width: 60px;
}

.menu-event .my-row>input  {
  float: right;
  width: calc(100% - 60px);
  height: 28px;
  border-left: 1px solid #bebebe;
}

.menu-event .action-btn {
  width: 100%;
  line-height: 29px;
  color: #ffffff;
  margin-top: 21px;
}

.dotted-row {
  width: 43%;
  position: absolute;
  top: 47px;
  border-bottom: 1px dotted #5191ff;
  height: 1px !important;
}

.dotted-row.gray-color {
  border-bottom: 1px dotted #bebebe;
  width: 98%;
  top: 74px;
}

.gray-block {
  background-color: #f5f5f5;
  border: 1px solid #bebebe;
}

.menu-event .second-block>div {
  height: 29px;
  line-height: 29px;
}

.menu-event .second-block>div {
  border-bottom: none;
}

.menu-event .second-block>div:last-child {
  border-bottom: 1px solid #bebebe;;
}

.dark-yellow-gb {
  background-color: #f5d132;
}

.orange-gb {
  background-color: #ff963b;
}

.red-gb {
  background-color: #fb4d4e;
}

.pos-relative {
  position: relative;
}

.no-border, .no-border>* {
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border: none;
}

.tab2 .my-row {
  border: none;
  margin-bottom: 14px;
}

.tab2 .my-row:last-child {
  margin-bottom: auto;
}

.tab2 .dotted-row {
  width: 89%;
}

.dotted-row.first-dot{
  top: 97px;
}

.dotted-row.second-dot{
  top: 141px;
}

.tab2 .my-row>.selection-btn{
  display: inline-block;
  float: left;
  width: 19%;
  margin-right: 5px;
}

.tab2 .selection-btn.my-row:hover {
  border: none;
}

.tab2 .my-row>.selection-btn:last-child{
  margin-right: 0;
}

.tab2 .my-row>.selection-btn.xs-btn {
  width: 30px;
}

.menu-event .tab2 .my-row>span{
  width: 90px;
  text-align: left;
  padding-left: 10px
}