.menu-common {
  border: 1px solid #bebebe;
  box-shadow: 0 5px 20px 1px #bebebe;
  background-color: #ffffff;
  padding: 5px;
}


.menu-event .nav>li:not(.active)>span, .in-active {
  background-color: #f5f5f5;
  color: #000000;
  border: 1px solid #bebebe;
  padding: 10px;
}


.active {
  background-color: #ffffff;
  padding: 10px;
}


.light-blue {
  background-color: #dce9ff;
}

.light-blue:hover {
  border: 1px solid #a8c7ff;
}

.light-blue.active {
  border: 1px solid #5191ff;
}

.menu-event {
  width: 360px;
  height: 200px;
  display: block;
}

.menu-event .nav {
  border-bottom: none;
}

.menu-event .nav>li {
  width: 174px;
  height: 40px;
  background-color: #ffffff;
  color: #5191ff;
}

.menu-event .nav>li.active {
  border-left: 1px solid #5191ff;
  border-top: 1px solid #5191ff;
  border-right: 1px solid #5191ff;
}

.menu-event .nav>li.active > span {
  color: #5191ff;
}

.menu-event .nav>li:not(.active) {
  border-bottom: 1px solid #5191ff;
}

.menu-event .nav>li:not(.active)>span {
  width: 172px;
  margin: 0 0px 2px 2px;
  height: 38px;
  display: block;
}

.main-first-column{
  display: inline-block;
  float: left;
  width: 50%;
}

.tab-pane.active {
  border-left: 1px solid #5191ff;
  border-bottom: 1px solid #5191ff;
  border-right: 1px solid #5191ff;
}

.menu-event .my-row{
  width: 100%;
  margin: 0;
}

.menu-event .my-row{
  margin-bottom: 3px;
}

.menu-event .my-row>span{
  display: inline-block;
  float: left;
  line-height: 29px;
  width: 60px;
}

.menu-event .my-row>input  {
  float: right;
  width: calc(100% - 60px);
  height: 28px;
  border-left: 1px solid #bebebe;
}