.menu-common {
  border: 1px solid #bebebe;
  box-shadow: 0 5px 20px 1px #bebebe;
  background-color: #ffffff;
  padding: 9px;
}


.menu-event .nav>li:not(.active)>span, .in-active {
  background-color: #f5f5f5;
  color: #000000;
  border: 1px solid #bebebe;
  padding: 10px;
}


.active {
  background-color: #ffffff;
  padding: 13px 10px 10px;
}


.light-blue {
  background-color: #dce9ff;
}

.light-blue:hover {
  border: 1px solid #a8c7ff;
}

.light-blue.active {
  border: 1px solid #5191ff;
}


.menu-still-string{
    background-color: #f5f5f5;
    width: 200px;
    height: 25px;
    margin-bottom: 5px;
}
.line  {
    border-top: 1px dotted  #d9dbdc;
    width: 200px;
    height: 18px;
    margin-top: 3px;
}

.menu-still{
    height: 485px;
    width: 220px;
    background-color: #ffffff;
    border: 1px #e5e6e7 solid;
    padding: 8px 8px 0px 8px;

}

.tab-pane.active {
  border-left: 1px solid #5191ff;
  border-bottom: 1px solid #5191ff;
  border-right: 1px solid #5191ff;
}


.menu-still-string{
    background-color: #f5f5f5;
    width: 200px;
    height: 25px;
    margin-bottom: 5px;
}
.line  {
    border-top: 1px dotted  #d9dbdc;
    width: 200px;
    height: 8px;
    margin-top: 8px;
}

.selection-btn{
    text-align: center;
    color:#000000;
    font-size: 12px;
    font-family: HelveticaNeue-Light;
    background-color: #f5f5f5;
    border: 1px #bebebe solid;
    height: 30px;
    line-height: 30px;
    vertical-align:middle ;
}
.selection-btn:hover{
    outline:none !important;
    background-color: #dce9ff;
    border: 1px #a8c7ff solid;
}
.selection-btn-active{
    outline:none !important;
    font-family: HelveticaNeue-Medium;
    background-color: #dce9ff;
    border: 1px #5191ff solid;
}
.still-btn{
    width: 200px;
    height: 30px;
    margin-bottom: 7px;
    background-color: #f5f5f5;
}
.still-btn img{
    margin-right: 5px;
    margin-top: -5px;
}

.menu-still-content{
    border: 1px #bebebe solid;
    height: 278px;
    width: 200px;
    margin-bottom: 3px;
}
.menu-still-capture{
    width: 165px;
    height: 30px;
    float: left;
    background-color: #f5f5f5;

}
.still-btn-gl{
    width: 30px;
    height: 30px;
    float: right;
    color:#629cfe !important;
    background-image: url("assets/images/stretch1.png");
    background-repeat:no-repeat ;
    background-position: center;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e4;
}
.still-btn-gl:hover{
    outline:none !important;
    background-color: #dce9ff;
    border: 1px solid #a8c8ff;
}
.still-btn-gl:active,.still-btn-gl:focus{
    outline:none !important;
    background-color: #5191ff !important;
    border: 1px solid #4c77f0;
    color:#ffffff;
    background-image: url("assets/images/stretch1Active.png");
    background-repeat:no-repeat ;
    background-position: center;
}

.still-footer{
    height: 30px;
    width: 200px;
    line-height: 30px;
    vertical-align: middle;
    font-family: HelveticaNeue-Light;
    font-size: 12px;
    color: #000000;
    /*text-align: center;*/
}
.menu-still-name,.menu-still-data{
    height: 25px;
    display: inline-block;
    line-height: 25px;
    vertical-align: middle;
    font-family: HelveticaNeue-Light;
    font-size: 12px;

}
.menu-still-name{
    text-align: center;
    color: #000000;
    width: 70px;
    border-right: 1px #c3c5c7 solid;
    float: left;
}
.menu-still-data{
    padding: 0px 0px 0px 10px;
    width: 130px;
    float: right;
    color:#5191ff;
}
.menu-still-capture-name{
    padding: 0px 0px 0px 10px;
}
.menu-still-capture-date{
    font-family: HelveticaNeue-Medium !important;
}


.menu-still{
    height: 485px;
    width: 220px;
    background-color: #ffffff;
    /*border: 1px #e5e6e7 solid;*/
    /*padding: 10px 10px 0px 10px;*/
    font-family: HelveticaNeue-Light;
    font-size: 12px;

}

.still-btn-gl:active,.still-btn-gl:focus{
    outline:none !important;
    background-color: #dce9ff;
    border: 1px #5191ff solid;
    background-image: url("assets/images/stretch1Active.png");
    background-repeat:no-repeat ;
    background-position: center;
}


.popup {
    position: absolute;
    border: 1px solid #bebebe;
    padding: 9px;
    background-color: #ffffff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.popup:before, .popup:after {
    content: "";
    position: absolute;
}
.popup.bottom:before {
    border-left: 10px solid rgba(113, 101, 58, 0);
    border-right: 10px solid rgba(113, 101, 58, 0);
    border-top: 10px solid #bebebe;
    left: 100px;
    bottom: -10px;
}
.popup.bottom:after {
    border-left: 10px solid rgba(255, 241, 190, 0);
    border-right: 10px solid rgba(255, 241, 190, 0);
    border-top: 10px solid #ffffff;
    left: 100px;
    bottom: -9px;
}


.popup.top:before {
    border-left: 10px solid rgba(113, 101, 58, 0);
    border-right: 10px solid rgba(113, 101, 58, 0);
    border-bottom: 10px solid #bebebe;
    /*left: 20px;*/
    top: -10px;
}

.popup.top:after {
    border-left: 10px solid rgba(255, 241, 190, 0);
    border-right: 10px solid rgba(255, 241, 190, 0);
    border-bottom: 10px solid #ffffff;
    /*left: 20px;*/
    top: -9px;
}

.menu-user:after,.menu-user:before{
    left:170px !important;
}
.menu-sales:after,.menu-sales:before{
    left: 190px!important;
}
.menu-event:after,.menu-event:before{
    left: 170px !important;
}
.menu-depts:after,.menu-depts:before{
    left: 90px !important;
}

.menu-event .action-btn {
  width: 100%;
  line-height: 29px;
  color: #ffffff;
  margin-top: 21px;
}

.dashed-row {
  width: 43%;
  position: absolute;
  top: 47px;
  border-bottom: 1px dotted #5191ff;
  height: 1px !important;
}

.dashed-row.gray-color {
  border-bottom: 1px dotted #bebebe;
  width: 98%;
  top: 74px;
}

.gray-block {
  background-color: #f5f5f5;
  border: 1px solid #bebebe;
}

.menu-event .second-block>div {
  height: 29px;
  line-height: 29px;
  border-bottom: none;
}

.menu-event .second-block>div>span {
  color: #4d4d4d;
  font-size: 12px;
  font-family: HelveticaNeue-Light;
}

.menu-event .second-block>div:last-child {
  border-bottom: 1px solid #bebebe;;
}

.dark-yellow-gb {
  background-color: #f5d132;
}

.orange-gb {
  background-color: #ff963b;
}

.red-gb {
  background-color: #fb4d4e;
}

.pos-relative {
  position: relative;
}

.no-border, .no-border>* {
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border: none;
}

.tab2 .my-row {
  border: none;
  margin-bottom: 14px;
}

.tab2 .my-row:last-child {
  margin-bottom: auto;
}

.tab2 .dashed-row {
  width: 89%;
}

.dashed-row.first-dot{
  top: 97px;
}

.dashed-row.second-dot{
  top: 141px;
}

.tab2 .my-row>.selection-btn{
  display: inline-block;
  float: left;
  width: 19%;
  margin-right: 5px;
}

.tab2 .selection-btn.my-row:hover {
  border: none;
}

.tab2 .my-row>.selection-btn:last-child{
  margin-right: 0;
}

.tab2 .my-row>.selection-btn.xs-btn {
  width: 30px;
}

.menu-event .tab2 .my-row>span{
  width: 90px;
  text-align: left;
  padding-left: 10px
}

