@font-face {
    font-family: Dummy;
    src: url(assets/font/DUMMY.TTF);
}

@media (min-width: 1205px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 1136px) {
    body {
        font-size: 13px;
    }
}

@media (min-width: 803px) {
    body {
        font-size: 12px;
    }
}

@media (max-width: 802px) {
    body {
        font-size: 11px;
    }
    .header > .navbar > div > .navbar-collapse > .navbar-nav > li > a {
        line-height: 1;
    }
}

@media (min-width: 769px) {
    .responsible-btn{
        width: 12.5%;
        display: inline-block;
        float: left;
    }

}

@media (max-width: 768px) {
    .responsible-btn {
        width: 100%;
        float: none;
        display: block;
    }
}

@media (min-width: 993px){
  #left-zoom{
    display: block;
  }
  #right-zoom{
    display: block;
  }
  .body-block {
    margin-right: 35px;
    margin-left: 35px;
  }
  .left-page-block > .ui-icon {
    background-image: url("assets/images/border-btn.png");
    background-size: 91%;
    background-position: 0 0;
  }
}

@media (max-width: 992px){
  #left-zoom{
    display: none;
  }
  #right-zoom{
    display: none;
  }
  .body-block {
    margin-right: 0px;
    margin-left: 0px;
  }
  .left-page-block > .ui-icon {
    background-image: none;
  }
}

* {
    box-sizing: border-box;
}

html {
    height: calc(100% - 0px);
}

body {
    height: calc(100% - 35px);
    /*min-height: 100%;*/
}

body a:hover {
    text-decoration: none;
    cursor: pointer;
}

.main {
    min-width: 750px;
    min-height: 405px;
}
.header {
    padding: 0px 35px 0px 105px;
    height: 35px;
    background-color: #ffffff;
    z-index: 10;
}

.header > .navbar {
    height: 35px;
    min-height: 35px;
    background: none;
    border: none;

}

.header > .navbar > div {
    height: 35px;
}

.header > .navbar > div > .navbar-collapse{
    padding: 0;
}

.header > .navbar > div > .navbar-collapse > .navbar-nav{
    width: calc(100% - 1px);
    /*overflow: hidden;*/
}

.header > .navbar > div > .navbar-collapse > .navbar-nav > li{
    height: 34px;
    /*padding: 0.9em 0;*/
}

.header .navbar-header{
    border: none;
    height: 35px;
}

.header .navbar-toggle {
    position: relative;
    float: right;
    padding: 5px 10px;
    margin-top: 4px;
    margin-right: 13px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

/* gray border start*/
.gray-border-right {
    border-right: 1px solid #999999;
}

.gray-border-left {
    border-left: 1px solid #999999;
}

.gray-border-top {
    border-top: 1px solid #999999;
}

.gray-border-bottom {
    border-bottom: 1px solid #999999;
}
.gray-border {
    border: 1px #999999 solid;
}
.no-border-bottom {
  border-bottom: none;
}
.no-border-top {
  border-top: none;
}
.no-border-right {
  border-right: none;
}
.no-border-left {
  border-left: none;
}
/* gray border finish*/

/*menu button start*/
.fixed-size {
    width: 35px;
    height: 35px;
}

.fixed-btn{
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    z-index: 100;
 }

.btn-landing {
    background-image: url("assets/images/landing.png");
    top:0;
    left: 0;
}

.btn-shortcut{
    background-image:  url("assets/images/shortcut.png");
    top:0;
    left: 35px;
}
.btn-store {
    background-image:  url("assets/images/store.png");
    top: 0;
    left: 70px;
}
.btn-user{
    background-image: url("assets/images/user.png");
    top: 0;
    right: 0;
}

.btn-user.active-btn{

}

.btn-big{
    background-image: url("assets/images/big.png");
}
.btn-small{
    background-image: url("assets/images/small.png");
}
.btn-stretch{
    background-image:url("assets/images/stretch.png");
    top:304px;
}

.btn-hand{
    background-image:url("assets/images/hand.png");
    top:339px;
}
.btn-i{
    background-image: url("assets/images/i.png");
    top:374px;
}

.responsible-btn{
    text-align: center;
    line-height: 1;
    font-size: 1em;
    cursor: pointer;
}

.responsible-btn:hover, .fixed-btn:hover{
    background-color: #f0f0f0;
}

.responsible-btn.active-btn{
    background-color: red;
    color: #ffffff;
}

.responsible-btn > span {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 0.9em 0;
}

.responsible-btn.active-btn > span{
    color: #ffffff;
}

.responsible-btn.active-btn > span:hover{
    color: #000000;
}


/*menu button finish*/

/*text style start*/
.gray-text{
    color: #4d4d4d;
}

.big-text {
    font-size: 1.8em;
    font-weight: bold;
}

.medium-text{
    font-size: 1.6em;
}
.gray-bg {
    background-color: #e0e0e0;
}
.light-gray-bg {
  background-color: #f0f0f0;
}
.red-text{
    color: #fa4d4d;
}
.yellow-block {
  background-color: #f5d232;
  color: #000000;
}

.yellow-text, .hover-yellow:hover {
  color: #f5d232;
  text-decoration: none;
}

.orange-block {
  background-color: #ff963c;
  color: #000000;
}

.orange-text, .hover-orange:hover {
  color: #ff963c;
  text-decoration: none;
}

.green-text, .hover-green:hover {
  color: #78d23c;
  text-decoration: none;
}
.green-block, .green-block:hover {
  background-color: #78d23c;
  color: #000000;
}

.green-block > * {
  color: #000000;
}

.green-block:hover > * {
  color: #ffffff;
}

.red-block, .red-block:hover {
  background-color: #fa4d4d;
  color: #000000;
}

.red-text, .hover-red:hover {
  color: #fa4d4d;
}

.group-btn-block > .orange-block:hover {
  background-color: #ff963c;
  color: #ffffff;
  border-color: #ffffff;
}

.group-btn-block > .green-block:hover {
  background-color: #78d23c;
  color: #ffffff;
  border-color: #ffffff;
}

.orange-block:hover > * {
  color: #ffffff;
}
/*text style finish*/

.left-menu{
    overflow: hidden;
    width: 35px;
    display: inline-block;
    position: fixed;
    left: 0;
    height: 304px;
}

.right-menu{
    overflow: hidden;
    width: 35px;
    display: inline-block;
    position: fixed;
    right: 0;
    height: 374px;
}

.range-block {
    height: 200px;
    margin-top: 35px;
    padding: 10px;
}

input.vertical {
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr;
    height: 100%;
}

.fixed-block {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* body start*/
.body-block {
    /*margin-right: 35px;*/
    /*margin-left: 35px;*/
    margin-top: 35px;
    position: relative;
    min-height: 100%;
}

.left-page-block{
    width: 50%;
    display: inline-block;
    border-right: 6px #989898 solid;
    /*height: 100%;*/
    position: absolute;
    min-height: 100%;
    /*overflow: hidden;*/
    left: 0;
}

.left-page-block > .ui-resizable-handle.ui-resizable-s{
    display: none!important;
}

.left-page-block > .ui-icon {
  /*background-image: url("assets/images/border-btn.png");*/
  /*background-size: 91%;*/
  /*background-position: 0 0;*/
    right: -17px;
    bottom: 50%;
    width: 25px;
    height: 50px;
}

.right-page-block{
    width: 50%;
    display: inline-block;
    height: 100%;
    position: absolute;
    min-height: 100%;
    overflow: hidden;
    right: 0;
}

.menu-common {
    margin-top: 45px !important;
    background-color: #fff;
    border: 3px solid #4d4d4d;
    position: absolute;
    z-index: 100
}
.menu-common:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: -25px;
    border: 11px solid;
    border-color: transparent transparent #4d4d4d;
}

.menu-user{
    margin-top: 45px !important;
    width: 248px;
    right: 0;
    left: auto;
    font-size: 10px;
    color: #666666;
    padding: 0;
    display: none;
}

.menu-user > .thumbnail {
    border: none;
}

.user-avatar {
    width: 31.914893617%;
    margin: 1em 0;
}

.menu-user:before {
    right: 1px;
}

.menu-shortcut-conteiner{
    border: 1px solid #4d4d4d;
    border-radius: 0px;
    background-color:#f0f0f0;
    height: 305px;
    width:249px;
    padding: 10px;
    left: 34px;
    top: 32px !important;

}

.menu-shortcut-main{
    position: relative;
    width: 100%;
    height: 100%;
}

.menu-shortcut-tr{
    width: 100%;
    height: 33.33%;
}

.menu-shortcut-td{
    width: 33.3%;
    height: 100%;
    float: left;
}

.menu-shortcut{
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #f0f0f0;
    border: 0px !important;
    text-decoration: none;
    color:#4d4d4d;
    font-size: 12px;
    margin-bottom: 10px!important;

}

.menu-shortcut>img {
    max-width: 90%;
    margin-bottom: 5px;

}

.menu-shortcut:hover {
    text-decoration: none;
    color: #4d4d4d;
}

.in-it-span-block > span{
    display: block;
}

.block-with-bnt > a {
    font-size: 1.6em;
    display: block;
    padding: 0.4em;
    color: #666666;
    cursor: pointer;
}

.menu-user .block-with-bnt > a {
    border-top: none;
}

.menu-user .block-with-bnt > a:hover {
    color: red;
    background-color: #ffffff;
    text-decoration: none;
}
.menu-item-active {
    color: #ffffff !important;
    background-color: red !important;
    text-decoration: none !important;
}


/*menu-sales*/
.menu-sales{
    width: 268px;
    right: calc(35px + 1%);
    left: auto;
    padding: 0;
    display: none;
    margin-top: 11px !important;
}

.menu-sales > div{
    overflow-x: auto;
}

.menu-sales:before{
    right: 45px;
}

/*table-block */
.table-block {
    display: table;
    width: 100%;
}
.table-block > .table-row:last-child > .table-cell{
    border-bottom: none;
}
.table-row{
    display: table-row;

}

.table-row >.table-cell:first-child{
    border-right: 1px #999999 solid;
    background-color: #f0f0f0;
    text-align: right;
    min-width: 140px;
}

.table-cell {
    display: table-cell;
    width: 50%;
    padding: 7px 6px;
    font-size: 1em;
    border-bottom: 1px #999999 solid;
    min-width: 80px;
}

.black-small-div{
    background-color: #4d4d4d;
    height: 3px;
    width: 100%;
    min-width: 220px;
}

.menu-store{
    left: 50px;
    height: 363px;
    width:358px;
    text-align: center;
    background-color: #fff;
    border: 3px solid #4d4d4d;
    display: none;
    color:#4d4d4d;
}

.menu-store:before {
    left: 21px;
}

.store-caption{
    height: 12%;
    width: 100%;
    border-bottom: 3px solid #4d4d4d;
}

.store-frame{
    height: 100%;
    width: 100%;
    border: 1px #999999 solid;
    background-color:#e1e1e1;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    color: #4d4d4d;
}

.store-search{
    height: 8%;
    width: 100%;
    border: 1px #999999 solid;
}
.store-search>input{
    height: 28px;
    border: none!important;
}
.store-search>input:focus{
    outline: none !important;
}

.store-search-btn{
    height: 28px;
    width: 48px;
    background-color: #ffffff;

}

.store-search-btn:focus{
    border: none !important;
}

.store-search-btn>span{
    color: #fa4d4d;
    top: -2px !important;
}

.store-name{
    width: 100%;
    height: 8%;
    border-bottom: none !important;
}

.store-name,.store-table,.store-footer{
    border: 1px #999999 solid;
    border-top:none !important;
}

.menu-store-name{
    height: 100%;
    width: 12.5%;
    border-right: 1px #999999 solid;
    display: block;
    float: left;
    padding: 5px;
}

.menu-store-name-wa{
    border-right: none !important;
}

.store-table{
    width: 100%;
    height: 60%;
    overflow: auto;
}

.menu-store-table{
    width: 100%;
    height: 100%;
}

.menu-store-table>tbody>tr{
    height: 30px;
}

.store-table-caption{
    background-color: #f0f0f0;
}

.menu-storeName{
    padding: 2px;
    width: 70%;
    border-right:1px #999999 solid;
    border-top:1px #999999 solid;
}

.caret-red{
    color: #fa4d4d;
}

.menu-storeSize{
    padding: 2px;
    width: 30%;
    border-top:1px #999999 solid;
}

.store-footer{
    width: 100%;
    /*height: 11%;*/
    background-color: #f0f0f0;
}

.menu-storeReset,.menu-storeConfirm{
    height: 100%;
    width: 50%;
    background-color: #f0f0f0;
    display: block;
    padding: 10px;
    font-size: 16px;
}

.menu-storeReset{
    float: left;
    border-right:1px #999999 solid ;
}

.menu-storeConfirm{
    float: right;
}

.menu-depts{
    width: 240px;
    height: 240px;
    display: none;
    left: 450px;
    top: 0px;

}
.menu-depts:before{
    left: 110px;
}

.menu-depts-container{
    border: 1px #999999 solid;
    width: 100%;
    height: 100%;
}
.menu-depts-department{
    width: 100%;
    height: 29px;
    border-bottom: 1px #999999 solid;
}



.checkbox-depts {
    display: none;
}
.menu-depts-department  label {
    background: url("assets/images/checkbox.png") no-repeat scroll 0 0;
    background-size: contain;
    cursor: pointer;
    padding-left: 35px;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 15px;
    font-weight: 100 ;
}
.checkbox-depts+label:hover {
    background: url("assets/images/checkboxHover.png") no-repeat scroll 0 0;
    background-size: contain;
    cursor: pointer;
    padding-left: 35px;
    margin-bottom: 20px;
}

.menu-depts-color1:hover{
        color: #fa4d4d;
}
.menu-depts-color2:hover{
    color: #78d23c;
}
.menu-depts-color3:hover{
    color: #32bea0;
}
.menu-depts-color4:hover{
    color: #5191ff;
}
.menu-depts-color5:hover{
    color: #aa6edc;
}
.menu-depts-color6:hover{
    color: #fa4d4d;
}
.menu-depts-color7:hover{
    color: #ff963c;
}
.menu-depts-color8:hover{
    color: #f5d232;
}


/*heatmap*/
.menu-heatmap{
  margin: auto;
  position: absolute;
  left: 50%;
  margin-left: -184px;
  width: 368px;
  padding: 0;
  display: none;
  background-color: #4d4d4d;
  z-index: 100;
  margin-top: 11px !important;
}

.menu-heatmap:before{
  right: 50%;
}

.result > .title-block {
  padding: 7px 6px;
  text-align: center;
}

.title-block {
  padding: 0.5em 13%;
  text-align: left;
  margin-bottom: 3px;
  color: #4d4d4d;
}


.guide-tab{
  width: 32%;
  height: 30px;
}

.guide-tabs {
  border-bottom: none;
}

.guide-tabs > .guide-tab > a{
  border: none;
  background: none;
  padding: 0.5em;
  color: #4d4d4d;
}

.guide-tabs > .guide-tab > a:hover{
  border: none;
  background: none;
  border-color: #999999;
  padding: 0.5em;
  text-decoration: none;
}

.guide-tabs > .guide-tab:not(.red-block) > a:hover{
  color: #fa4d4d;
}

.guide-tab {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 2px;
}

.guide-tab:first-child{
  margin-left: 0.5%;
}

.guide-tabs > .guide-tab-active {
  margin: 0;
  height: 34px;
  width: 34%;
  border-bottom: none;
}
.half-block {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
}

.left-block{
  float: left;
}

.overflow-hidden {
  overflow: hidden;
}

.info-block{
  margin-bottom: 3px;
}

.info-block > div{
  padding: 7px 6px;
  color: #4d4d4d;
}

.overflow-auto{
  overflow-y: auto;
  max-height: 10em;
}

.group-btn-block {
  overflow: hidden;
}

.group-btn-block > div{
  width: 180px;
  display: inline-block;
  text-align: center;
  padding: 7px 6px;
}

.group-btn-block > div:first-child {
  float: left;
}

.group-btn-block > div:last-child {
  float: right;
}

.group-btn-block > div > a{
  color: #4d4d4d;
}

input[type="date"]{
  border: none;
  background: none;
  box-shadow: none;
  padding: 7px 6px;
  font-size: 12px;
  height: 26px;
}

.date-block{
  padding: 0 !important;
}

.scale-block {
  background-color: #ffffff;
  margin-bottom: 3px;
}
.scale-block > img {
  width: 55%;
}

.padding-common {
  padding: 0.5em;
}