@font-face {
  font-family: Dummy;
  src: url(assets/font/DUMMY.TTF);
}

@media (min-width: 1205px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 1136px) {
  body {
    font-size: 13px;
  }
}

@media (min-width: 803px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 802px) {
  body {
    font-size: 11px;
  }

  .header > .navbar > div > .navbar-collapse > .navbar-nav > li > a {
    line-height: 1;
  }
}

@media (min-width: 769px) {
  .responsible-btn {
    width: 12.5%;
    display: inline-block;
    float: left;
  }

}

@media (max-width: 768px) {
  .responsible-btn {
    width: 100%;
    float: none;
    display: block;
  }
}

@media (min-width: 993px) {
  #left-zoom {
    display: block;
  }

  #right-zoom {
    display: block;
  }

  .body-block {
    margin-right: 35px;
    margin-left: 35px;
  }

  .left-page-block > .ui-icon {
    background-image: url("assets/images/border-btn.png");
    background-size: 91%;
    background-position: 0 0;
  }
}

@media (max-width: 992px) {
  #left-zoom {
    display: none;
  }

  #right-zoom {
    display: none;
  }

  .body-block {
    margin-right: 0px;
    margin-left: 0px;
  }

  .left-page-block > .ui-icon {
    background-image: none;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: calc(100% - 0px);
}

body {
  height: calc(100% - 35px);
  /*min-height: 100%;*/
}

body a:hover {
  text-decoration: none;
  cursor: pointer;
}

.main {
  min-width: 750px;
  min-height: 405px;
}

.header {
  padding: 0px 35px 0px 105px;
  height: 35px;
  background-color: #ffffff;
  z-index: 10;
}

.header > .navbar {
  height: 35px;
  min-height: 35px;
  background: none;
  border: none;

}

.header > .navbar > div {
  height: 35px;
}

.header > .navbar > div > .navbar-collapse {
  padding: 0;
}

.header > .navbar > div > .navbar-collapse > .navbar-nav {
  width: calc(100% - 1px);
  /*overflow: hidden;*/
}

.header > .navbar > div > .navbar-collapse > .navbar-nav > li {
  height: 34px;
  /*padding: 0.9em 0;*/
}

.header .navbar-header {
  border: none;
  height: 35px;
}

.header .navbar-toggle {
  position: relative;
  float: right;
  padding: 5px 10px;
  margin-top: 4px;
  margin-right: 13px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* gray border start*/
.gray-border-right {
  border-right: 1px solid #999999;
}

.gray-border-left {
  border-left: 1px solid #999999;
}

.gray-border-top {
  border-top: 1px solid #999999;
}

.gray-border-bottom {
  border-bottom: 1px solid #999999;
}

.gray-border {
  border: 1px #999999 solid;
}

.no-border-bottom {
  border-bottom: none;
}

.no-border-top {
  border-top: none;
}

.no-border-right {
  border-right: none;
}

.no-border-left {
  border-left: none;
}

/* gray border finish*/

/*menu button start*/
.fixed-size {
  width: 35px;
  height: 35px;
}

.fixed-btn {
  position: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
  z-index: 100;
}

.btn-landing {
  background-image: url("assets/images/landing.png");
  top: 0;
  left: 0;
}

.btn-shortcut {
  background-image: url("assets/images/shortcut.png");
  top: 0;
  left: 35px;
}

.btn-store {
  background-image: url("assets/images/store.png");
  top: 0;
  left: 70px;
}

.btn-user {
  background-image: url("assets/images/user.png");
  top: 0;
  right: 0;
}

.btn-user.active-btn {

}

.btn-big {
  background-image: url("assets/images/big.png");
}

.btn-small {
  background-image: url("assets/images/small.png");
}

.btn-stretch {
  background-image: url("assets/images/stretch.png");
  top: 304px;
}

.btn-hand {
  background-image: url("assets/images/hand.png");
  top: 339px;
}

.btn-i {
  background-image: url("assets/images/i.png");
  top: 374px;
}

.responsible-btn {
  text-align: center;
  line-height: 1;
  font-size: 1em;
  cursor: pointer;
}

.responsible-btn:hover, .fixed-btn:hover {
  background-color: #f0f0f0;
}

.responsible-btn.active-btn {
  background-color: red;
  color: #ffffff;
}

.responsible-btn > span {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 0.9em 0;
}

.responsible-btn.active-btn > span {
  color: #ffffff;
}

.responsible-btn.active-btn > span:hover {
  color: #000000;
}

/*menu button finish*/

/*text style start*/
.gray-text {
  color: #4d4d4d;
}

.gray-bg {
  background-color: #e0e0e0;
}

.light-gray-bg {
  background-color: #f0f0f0;
}

.big-text {
  font-size: 1.8em;
  font-weight: bold;
}

.medium-text {
  font-size: 1.6em;
}

.big-cb-block input[type=checkbox]+label:before{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: 22px;
  left: 19px;
  border: 7px solid transparent;
  border-left-color: inherit;
  border-right: 0;
}

input[type=checkbox]+label{
  border-left-width: 10px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #bcbec0;
  background-color: #f5f5f5;
}

.yellow-text, .hover-yellow:hover {
  color: #f5d232;
  text-decoration: none;
}

.yellow-block, input[type=checkbox] + .yellow-block:hover, input[type=radio]:checked + .yellow-block {
  background-color: #fdf6d6;
  color: #000000;
  border-color: #fbefb7;
}

input[type=checkbox]:checked + .yellow-block {
  border-color: #f5d232;
  background-color: #fdf6d6;
}

.orange-text, .hover-orange:hover {
  color: #ff963c;
  text-decoration: none;
}

.orange-block, input[type=checkbox] + .orange-block:hover, input[type=radio]:checked + .orange-block {
  background-color: #ffead8;
  color: #000000;
  border-color: #ffdaba;
}

input[type=checkbox]:checked + .orange-block {
  border-color: #ff963c;
  background-color: #ffead8;
}

.red-text, .hover-red:hover {
  color: #fa4d4d;
}

.red-block, input[type=checkbox] + .red-block:hover, input[type=radio]:checked + .red-block {
  background-color: #fedbdb;
  color: #000000;
  border-color: #fdb6b6;
}

input[type=checkbox]:checked + .red-block {
  border-color: #fa4d4d;
  background-color: #fedbdb;
}

.green-text, .hover-green:hover {
  color: #78d23c;
  text-decoration: none;
}

.green-block, input[type=checkbox] + .green-block:hover, input[type=radio]:checked + .green-block {
  background-color: #e4f6d8;
  color: #000000;
  border-color: #cfefba;
}

input[type=checkbox]:checked + .green-block {
  border-color: #78d23c;
  background-color: #e4f6d8;
}

.mint-text, .hover-mint:hover {
  color: #32bea0;
  text-decoration: none;
}

.mint-block, input[type=checkbox] + .mint-block:hover, input[type=radio]:checked + .mint-block {
  background-color: #d6f2ec;
  color: #000000;
  border-color: #84d8c6;
}

input[type=checkbox]:checked + .mint-block {
  border-color: #32bea0;
  background-color: #d6f2ec;
}


.blue-text, .hover-blue:hover {
  color: #5191ff;
  text-decoration: none;
}

.blue-block, input[type=checkbox] + .blue-block:hover, input[type=radio]:checked + .blue-block {
  background-color: #dce9ff;
  color: #000000;
  border-color: #96bdff;
}

input[type=checkbox]:checked + .blue-block {
  border-color: #5191ff;
  background-color: #dce9ff;
}

.lilac-text, .hover-lilac:hover {
  color: #aa6edc;
  text-decoration: none;
}

.lilac-block, input[type=checkbox] + .lilac-block:hover, input[type=radio]:checked + .lilac-block {
  background-color: #eee2f8;
  color: #000000;
  border-color: #cca8ea;
}

input[type=checkbox]:checked + .lilac-block {
  border-color: #aa6edc;
  background-color: #eee2f8;
}

.group-btn-block > .green-block > * {
  color: #4d4d4d;
}

.group-btn-block > .green-block:hover > * {
  color: #ffffff;
}

.group-btn-block.green-block:hover {
  background-color: #78d23c;
  color: #ffffff;
  border-color: #ffffff;
}

.group-btn-block > .orange-block:hover {
  background-color: #ff963c;
  color: #ffffff;
  border-color: #ffffff;
}

.group-btn-block > .orange-block:hover > * {
  color: #ffffff;
}

input[type=checkbox], input[type=radio] {
  display: none;
}

input[type=checkbox] + label {
  width: 100%;
  height: 100%;
}

input[type=checkbox] + label, input[type=radio] + label {
  padding: 8px 0 0 15px;
  cursor: pointer;
  font-weight: 100;
  text-align: left;
}

.menu-depts-department.big-cb-block {
  height: 40px;
  line-height: 24px;
}

/*text style finish*/
.left-menu {
  overflow: hidden;
  width: 35px;
  display: inline-block;
  position: fixed;
  left: 0;
  height: 304px;
}

.right-menu {
  overflow: hidden;
  width: 35px;
  display: inline-block;
  position: fixed;
  right: 0;
  height: 374px;
}

.range-block {
  height: 200px;
  margin-top: 35px;
  padding: 10px;
}

input.vertical {
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
  height: 100%;
}

.fixed-block {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

/* body start*/
.body-block {
  /*margin-right: 35px;*/
  /*margin-left: 35px;*/
  margin-top: 35px;
  position: relative;
  min-height: 100%;
}

.left-page-block {
  width: 50%;
  display: inline-block;
  border-right: 6px #989898 solid;
  /*height: 100%;*/
  position: absolute;
  min-height: 100%;
  /*overflow: hidden;*/
  left: 0;
}

.left-page-block > .ui-resizable-handle.ui-resizable-s {
  display: none !important;
}

.left-page-block > .ui-icon {
  /*background-image: url("assets/images/border-btn.png");*/
  /*background-size: 91%;*/
  /*background-position: 0 0;*/
  right: -17px;
  bottom: 50%;
  width: 25px;
  height: 50px;
}

.right-page-block {
  width: 50%;
  display: inline-block;
  height: 100%;
  position: absolute;
  min-height: 100%;
  overflow: hidden;
  right: 0;
}

.menu-common {
  margin-top: 45px !important;
  background-color: #fff;
  border: 3px solid #4d4d4d;
  position: absolute;
  z-index: 100
}

.menu-common:before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  top: -25px;
  /*border: 11px solid;*/
  /*background-color: red;*/
  /*border-color: transparent transparent #4d4d4d;*/
  font-family: 'Glyphicons Halflings';
}

.menu-user {
  margin-top: 45px !important;
  width: 248px;
  right: 0;
  left: auto;
  font-size: 10px;
  color: #666666;
  padding: 0;
  display: none;
}

.menu-user > .thumbnail {
  border: none;
}

.user-avatar {
  width: 39%;
  margin: 0 0 7px 0;
}

.menu-user:before {
  right: 1px;
}

.menu-shortcut-conteiner {
  border: 1px solid #4d4d4d;
  border-radius: 0px;
  background-color: #f0f0f0;
  height: 305px;
  width: 249px;
  padding: 10px;
  left: 34px;
  top: 32px !important;

}

.menu-shortcut-main {
  position: relative;
  width: 100%;
  height: 100%;
}

.menu-shortcut-tr {
  width: 100%;
  height: 33.33%;
}

.menu-shortcut-td {
  width: 33.3%;
  height: 100%;
  float: left;
}

.menu-shortcut {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #f0f0f0;
  border: 0px !important;
  text-decoration: none;
  color: #4d4d4d;
  font-size: 12px;
  margin-bottom: 10px !important;

}

.menu-shortcut > img {
  max-width: 90%;
  margin-bottom: 5px;

}

.menu-shortcut:hover {
  text-decoration: none;
  color: #4d4d4d;
}

.in-it-span-block > span {
  display: block;
}

.block-with-bnt > a {
  font-size: 1.6em;
  display: block;
  padding: 0.4em;
  color: #666666;
  cursor: pointer;
}

.menu-user {
  width: 200px;
  height: 290px;
}

.block-with-bnt {
  padding-top: 8px;
  border-top: 1px dotted #bebebe;
}

.block-with-bnt > div {
  margin-bottom: 5px;
}

.menu-user .block-with-bnt > a {
  border-top: none;
}

.menu-user .gray-color.first-dash {
  top: 98px;
}

.menu-user span {
  font-family: HelveticaNeue-Light;
}

.menu-user .block-with-bnt > a:hover {
  color: red;
  background-color: #ffffff;
  text-decoration: none;
}

.user-info-row {
  padding-top: 5px;
  border-top: 1px dotted #bebebe;
  padding-bottom: 3px;
}

.menu-item-active {
  color: #ffffff !important;
  background-color: red !important;
  text-decoration: none !important;
}

/*menu-sales*/
.menu-sales {
  width: 270px;
  height: 280px;
  right: calc(35px + 1%);
  left: auto;
  padding: 0;
  display: none;
  margin-top: 11px !important;
}

.menu-sales > div {
  overflow-x: auto;
}

.menu-sales:before {
  /*right: 45px;*/
}

/*table-block */
.table-block {
  display: table;
  width: 100%;
}

.table-block.first-block{
  margin-bottom: 5px;
  border-bottom: 1px solid #bebebe;
  padding-bottom: 5px;
}

.table-block > .table-row:last-child > .table-cell {
  border-bottom: none;

}

.table-row {
  display: table-row;

}

.table-row > .table-cell:first-child {
  text-align: right;
  width: 115px;
}

.table-border {
  border-left: 1px  #bebebe solid;
  margin: 0 5px;
  display: inline-block;
  width: 1px;
  height: 31px;
  float: left;
}

.table-cell {
  display: inline-block;
  width: 49%;
  padding: 5px 6px;
  font-size: 1em;
  border-bottom: 1px dotted  #bebebe;
  min-width: 80px;
  float: left;
  font-family: HelveticaNeue-Light;
}

.black-small-div {
  background-color: #4d4d4d;
  height: 3px;
  width: 100%;
  min-width: 220px;
}

.menu-store {
  left: 50px;
  height: 360px;
  width: 360px;
  text-align: center;
  background-color: #fff;
  border: 3px solid #4d4d4d;
  display: none;
  color: #4d4d4d;
}

.menu-store:before, .menu-store:after {
  left: 21px;
}


.store-caption {
  height: 30px;
  width: 100%;
  border-bottom: 1px dotted #bebebe;
  padding-bottom: 5px;
  margin-bottom: 7px;
  line-height: 30px;
}

.store-frame {
  height: 100%;
  width: 100%;
  border-bottom: 1px dotted #bebebe;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  color: #4d4d4d;
}

.store-search {
  height: 8%;
  width: 100%;
  border: 1px #c0c2c3 solid;
  margin-bottom: 5px;
}

.store-search > input {
  height: 28px;
  border: none !important;
}

.store-search > input:focus {
  outline: none !important;
}

.store-search-btn {
  height: 28px;
  width: 48px;
  background-color: #ffffff;

}

.div-with-search{
  display: inline-block;
  width: 245px;
  float: left;

}

.div-with-search.store-search {
  border: none;
}

.menu-store > .selection-btn {
  width: 90px;
  float: right;
}

.store-search-btn:focus {
  border: none !important;
}

.store-search-btn > span {
  color: #5191ff;
  top: -2px !important;
}

.menu-store-name.selection-btn {
  width: 39px;
  margin-right: 4px;
  padding: 0;
}

.menu-store-name.selection-btn:last-child {
  margin-right: 0;
}

.store-name {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px dotted #bebebe;
  margin-bottom: 7px;
  padding-bottom: 7px;
  display: block;
}

.store-footer {
  border: 1px #bebebe solid;
  border-top: none !important;
}

.menu-store-name {
  height: 100%;
  width: 12.5%;
  border-right: 1px #999999 solid;
  display: block;
  float: left;
  padding: 5px;
}

.menu-store-name-wa {
  border-right: none !important;
}

.store-table {
  width: 100%;
  height: 51.5%;
  overflow: auto;
}

.store-table > .selection-btn {
  margin-bottom: 5px;
}

.menu-store-table {
  width: 100%;
  height: 100%;
}

.menu-store-table > tbody > tr {
  height: 30px;
}

.store-table-caption {
  background-color: #e6e7e8;
  overflow: hidden;
  margin-bottom: 5px;
}

.selection-btn > .menu-storeName{
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
  border-right-color: inherit;
  height: 28px;
  padding: 0 7px;
  display: inline-block;
  float: left;
}

.selection-btn > .menu-storeSize{
  border: 0;
  display: inline-block;
  float: right;
  height: 28px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.menu-storeName {
  padding: 2px;
  width: 70%;
  border: 1px #bebebe solid;
  overflow: hidden;
}

.caret-red {
  color: #fa4d4d;
}

.caret-blue {
  color: #5191ff;
}

.menu-storeSize {
  padding: 2px;
  width: 30%;
  border: 1px #bebebe solid;
  border-left: 0
}

.store-footer {
  width: 100%;
  /*height: 11%;*/
  background-color: #f0f0f0;
}

.menu-storeReset, .menu-storeConfirm {
  height: 100%;
  width: 50%;
  background-color: #f0f0f0;
  display: block;
  padding: 10px;
  font-size: 16px;
}

.menu-storeReset {
  float: left;
  border-right: 1px #999999 solid;
}

.menu-storeConfirm {
  float: right;
}

.menu-depts {
  margin: auto;
  position: absolute;
  left: 50%;
  margin-left: -120px;
  padding: 0;
  display: none;
  z-index: 100;
  margin-top: 11px !important;
  width: 200px;
  height: auto;
}

.menu-depts:before {
  left: 110px;
}

.menu-depts-container {
  /*border: 1px #999999 solid;*/
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.menu-depts-department {
  width: 100%;
  height: 30px;
  /*border-bottom: 1px #999999 solid;*/
}

.menu-depts-department + .menu-depts-department {
  margin-top: 5px;
}

/*heatmap*/
.menu-heatmap {
  margin: auto;
  position: absolute;
  left: 50%;
  margin-left: -180px;
  width: 360px;
  padding: 0;
  display: none;
  background-color: #4d4d4d;
  z-index: 100;
  margin-top: 11px !important;
}

.menu-heatmap:before {
  right: 50%;
}

.menu-heatmap .variant-block >.selection-btn.my-row  > label > *{
  border-left: 1px solid;
  border-color: inherit;
}

/*.menu-heatmap .selection-btn.my-row:hover > *{*/
  /*border-left: 1px #a8c7ff solid;*/
/*}*/

.menu-heatmap .variant-block >.selection-btn.my-row  > label > *:first-child {
  border-left:none;
}

.menu-heatmap .selection-btn.my-row > input[type=radio]:checked + label.guide-tab, .menu-heatmap .selection-btn.my-row > input[type=radio] + label.guide-tab{
  width: 55px;
  float: left;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
}

.menu-heatmap .variant-block >.selection-btn.my-row > label {
  padding: 0;
  /*border: 0;*/
  height: 30px;
  width: 100%;
}

.menu-heatmap .variant-block >.selection-btn.my-row.range > label > span{
  width: 57px;
  padding-left: 5px;
}

.menu-heatmap .variant-block >.selection-btn.my-row > label > span {
  display: inline-block;
  float: left;
}

.menu-heatmap .variant-block >.selection-btn.my-row:not(.range) > label > span {
  padding-left: 10px;
}

.menu-heatmap .variant-block >.selection-btn.my-row > label > input[type="date"]{
  width: 82px;
  display: inline-block;
  float: left;
  height: 29px;
}

.menu-heatmap .variant-block >.selection-btn.my-row{
  margin-bottom: 3px;
}


.menu-heatmap.popup.top:after{
  right: 50%;
}
.result > .title-block {
  padding: 7px 6px;
  text-align: center;
}

.result > .group-btn-block > button{
  width: 100%;
}

.result > .group-btn-block >button > .glyphicon-chevron-left{
  float: left;
  top: 6px;
  font-size: 11px;
}

.title-block {
  text-align: left;
  border-bottom: 1px #bebebe dotted;
  margin-bottom: 7px;
  color: #4d4d4d;
  padding: 7px 5px;
  font-family: HelveticaNeue-Light;
}

.title-block.two-border{
  margin-top: 7px;
  border-top: 1px #bebebe dotted;
}

.title-block > span {
  font-family: HelveticaNeue-Medium;
}

.guide-tabs {
  border-bottom: none;
}

.guide-tabs > li {
  margin: 0;
  height: 34px;
  width: 33.3%;
  background: none;
  border: none;
}

.guide-tabs > .guide-tab > a {
  border: none;
  background: none;
  padding: 0.5em;
  color: #4d4d4d;
}

.guide-tabs > .guide-tab > a:hover {
  border: none;
  background: none;
  border-color: #999999;
  padding: 0.5em;
  text-decoration: none;
}

.guide-tabs > .guide-tab:not(.red-block) > a:hover {
  color: #fa4d4d;
}

.guide-tab {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 2px;
  width: 97%;
  height: 92%;
}

.guide-tab:first-child {
  margin-left: 0.5%;
}

.guide-tabs > .guide-tab-active {
  margin: 0;
  height: 34px;
  width: 34%;
  border-bottom: none;
}

input[type=radio]:checked + label.guide-tab{
  width: 99%;
  height: 100%;
}



.half-block {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
}

.left-block {
  float: left;
}

.overflow-hidden {
  overflow: hidden;
}

.menu-heatmap .info-block {
  margin-bottom: 3px;
}

.menu-heatmap .info-block > div {
  margin-bottom: 5px;
}

.info-block > div{
  padding: 0;
  height: 29px;
  color: #4d4d4d;
}

.info-block > div > label{
  padding: 8px 0 8px 34px;
  width: 100%;
  height: 100%;
  margin: 0;
}

.info-block.overflow-auto{
  max-height: 118px;
}

.overflow-auto {
  overflow-y: auto;
}

.group-btn-block {
  overflow: hidden;
  margin-top: 7px;
  padding-top: 7px;
  border-top: 1px #bebebe dotted;
}

.group-btn-block > button {
  width: 168px;
  display: inline-block;
  text-align: center;
}

.group-btn-block > button:first-child {
  float: left;
}

.group-btn-block > button:last-child {
  float: right;
}

.group-btn-block > button > a {
  color: #4d4d4d;
}

input[type="date"] {
  border: none;
  background: none;
  box-shadow: none;
  padding: 7px 6px;
  font-size: 12px;
  height: 26px;
}

.date-block {
  padding: 0 !important;
}

.scale-block {
  background-color: #ffffff;
  margin-bottom: 3px;
}

.scale-block > img {
  width: 55%;
}

.padding-common {
  padding: 0.5em;
}

/*menu-event*/

.menu-event {
  width: 360px;
  height: 200px;
  margin-top: 12px !important;
  left: 50%;
  margin-left: -180px;
  background-color: #4d4d4d;
  display: none;
}

.menu-event .nav {
  border-bottom: none;
}

.menu-event .nav>li {
  width: 170px;
  height: 40px;
  background-color: #ffffff;
  color: #5191ff;
}

.menu-event .nav>li.active {
  border-left: 1px solid #5191ff;
  border-top: 1px solid #5191ff;
  border-right: 1px solid #5191ff;
}

.menu-event .nav>li.active > span {
  color: #5191ff;
}

.menu-event .nav>li:not(.active) {
  border-bottom: 1px solid #5191ff;
}

.menu-event .nav>li:not(.active):first-child>span{
  margin: 0 2px 2px 0;
}

.menu-event .nav>li:not(.active):last-child>span{
  margin: 0 0 2px 2px;
}

.menu-event .nav>li:not(.active)>span {
  width: 168px;
  height: 37px;
  display: block;
}

.menu-event .guide-tabs > li{
  width: 50%;
}

.menu-event .guide-tab {
  margin: 0;
}

.menu-event .guide-tab:first-child {
  margin-right: 4px;
}

.menu-event  input[type=radio]:checked + label.guide-tab{
  width: 100%;
  height: 100%;
}

.menu-event  input[type=radio] + label.guide-tab{
  width: 99%;
}

.menu-event .my-row{
  width: 100%;
  margin-bottom: 5px;
}

.menu-event .info-block>div {
  height: 30px;
  line-height: 30px;
}

.menu-event .my-row>span{
  display: inline-block;
  float: left;
  line-height: 29px;
  width: 60px;
}

.menu-event .my-row>input  {
  float: right;
  width: calc(100% - 60px);
  height: 28px;
  border-left: 1px solid #bebebe;
}

.main-first-column{
  display: inline-block;
  float: left;
  width: 50%;
  position: relative;
  padding-right: 5px;
}

.main-first-column + .main-first-column {
  padding-right: 0;
}

.first-column{
  width: 105px;
  display: inline-block;
  float: left;
}

.second-column {
  width: 211px;
  display: inline-block;
  float: left;
}

.third-column{
  width: 127px;
  display: inline-block;
  float: right;
}




